*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}

.cabecalho {
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 0 0;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 100px 16px;
    font-size: 80px;
    font-style: italic;
}
.loja-imagem{
    width: 25%;
}
.loja{
    background-image: linear-gradient(#000000,#8d8d8d);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 0;
}

.loja-div-conteudo{
    width: 45%;
}

.loja-titulo{
    padding: 6% 0;
}

.imagem-produto{
    width: 375px;
}

.produtos-div{
    text-align: center;
}
.produto-titulo{
    text-align: center;
    padding: 100px 0;
}

.loja-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
}

.rodape{
    background-color:white;
    text-align: center;
}
.rodape-imagem{
    padding: 100px 0;
}
.rodape2{
    text-align: center;
}